<div class="col s12" >
  <div class="col s12 m12 l3">
  <p class="flat-text-header">{{ $t("game.chat") }}</p>  
    <div style="height: 65vh;overflow: auto" id="chatConvertGame">      
      <body-men :mens="mensjGame" :dir-server="dirServer"></body-men>
    </div>
    <form v-on:submit.prevent="sendMensaje()">
      <md-input name="text" :value.sync="chattext" class="col s9 m9 l10">
      {{ $t("game.text") }}      
    </md-input>
    <md-btn @mouseover="tooltip($event, 'Enviar Mensaje', 'top')" class="btn waves-effect waves-light col s3 m3 l2 send-btn" type="submit">
    S
  </md-btn>
</form>
</div>
<div class="col s12 m12 l6">
  <div id='tablerochess' style="width: 100%;height: 600px;" class="{{ stylesBoard['board'][styles['board']] }} chessground vuejs {{ stylesBoard['pieces'][styles['pieces']] }}"></div>
</div>
<div class="col s12 m12 l3">
  <user-card :color="'white'" :username="board.u1" v-if="this.orientation === 'black'"></user-card>
  <user-card :color="'black'" :username="board.u2" v-else></user-card>
  <h6 class="flat-text-header hello" style="text-align: center">{{ state }}</h6>
  <div class="col s12 m12 l12">    
    <board-history :history="history" :active="active" :humanvspc="isHumanVsPC"></board-history>
  </div>
  <div  class="col s12 m12 l12">
    <md-btn @mouseover="tooltip($event, 'Pieces', 'top')" class="waves-effect waves-light col s2 m2 l2" @click="changeStyle('pieces')">
    P
  </md-btn>
  <md-btn @mouseover="tooltip($event, 'Board', 'top')" class="waves-effect waves-light col s2 m2 l2" @click="changeStyle('board')">
  B
</md-btn>
<md-btn @mouseover="tooltip($event, 'Rendirse', 'top')" class="waves-effect waves-light col s4 m4 l4" @click="rendir()">
{{ $t("game.rend") }}
</md-btn>
<md-btn @mouseover="tooltip($event, 'Cambiar orientacion', 'top')" class="waves-effect waves-light col s4 m4 l4" @click="changeOrientation">
{{ $t("game.invert") }}
</md-btn>
</div>
<user-card :color="'black'" :username="board.u2" v-if="this.orientation !== 'white'"></user-card>
<user-card :color="'white'" :username="board.u1" v-else></user-card>
</div>
</div>