 <div class="row">
   <h4 class="flat-text-header hello">Conectarse a un servidor</h4>
   <div class="col s12">
     <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Usuarios</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Servidor 1</td>
        <td>Servidor 2</td>
        <td>Servidor 3</td>
    </tr>
</tbody>
</table>
</div>
<md-button @mouseover="tooltips($event, 'I am right tooltip!', 'bottom')">
BOTTOM
</md-button>
<md-fab horizontal event="click">
<template slot="icon-name">add</template>
<li>
    <md-button floating class="red">
    <md-icon>insert_chart</md-icon>
</md-button>
</li>
<li>
    <md-button floating class="yellow darken-1">
    <md-icon>format_quote</md-icon>
</md-button>
</li>
<li>
    <md-button floating class="green">
    <md-icon>publish</md-icon>
</md-button>
</li>
<li>
    <md-button floating class="blue">
    <md-icon>attach_file</md-icon>
</md-button>
</li>
</md-fab>
</div>