<div class="col s12">
    <div class="col s12 m12 l3">
        <md-collection>
            <md-collection-item
                    v-for="puzzleT in puzzlesType"
                    @click="selectPuzzleType(puzzleT)"
                    :active="puzzleT.type == puzzleType.type">
                {{ puzzleT.type }}
                <md-badge>{{ counts[puzzleT.type] }}</md-badge>
            </md-collection-item>
        </md-collection>
        <md-card class="blue-grey darken-1" content-class="white-text">
<span slot="title">
	{{ $t("puzzles.create.title") }}
</span>
            <p>
                {{ $t("puzzles.create.description") }}
            </p>
            <div slot="actions">
                <a @click="addPuzzle('add')">{{ $t("puzzles.create.create") }}</a>
                <a @click="editPuzzle()" v-if="user.username === item.createby">{{ $t("puzzles.create.edit") }}</a>
                <a @click="delPuzzle()" v-if="user.username === item.createby">{{ $t("puzzles.create.delete") }}</a>
            </div>
        </md-card>


    </div>
    <div class="col s12 m12 l9">
        <div class="col s12 m12 l2">
            <div style="text-align: center" v-show="puzzles.length > 0">
                <label>{{ $t("puzzles.list") }}</label>
            </div>
            <div class="col s12 m12" v-show="puzzles.length === 0">
                <div class="center promo">
                    <md-icon>flash_on</md-icon>
                    <p class="promo-caption">{{ $t("puzzles.attention") }}</p>
                    <p class="light center">
                        {{ $t("puzzles.attMen") }}
                    </p>
                </div>
            </div>
            <md-collection v-show="puzzles.length > 0" id="listSomePuzzles" style="max-height: 80vh;overflow: auto">
                <md-collection-item v-for="puzzle in puzzles" :active="item._id == puzzle._id"
                                    @click="selectItm(puzzle)">
                    Puzzle {{ $index + 1 }}
                    <md-badge>{{puzzle.results}}</md-badge>
                </md-collection-item>
            </md-collection>
        </div>
        <div class="col s12 m12 l10">
            <div style="text-align: left">
                <label v-if="puzzleType.type">
                    {{ $t("puzzles.types."+puzzleType.type+".descript") }}
                </label>
            </div>
            <puzzle-chess :puzzle="item" :next-puzzle="nextPuzzle"></puzzle-chess>
        </div>
    </div>
    <md-modal id="modalCreatePuzzle">
        <h4 style="text-align: center">{{ $t("puzzles.create.title") }} {{ puzzleType.type }}</h4>
        <div class="col s12 m12 l12">
            <div class="col s12 m12 l6">
                <div id='puzzleGenerateFenInit' class="merida light-wood-3d chessground small"></div>
            </div>
            <div class="col s12 m12 l6" v-if="puzzleType.position">
                <div id='puzzleGenerateFenFinish' class="merida light-wood-3d chessground small"></div>
            </div>
            <md-input name="text" :value.sync="fenInit" class="col s9 m9 l6">
                {{ $t("puzzles.create.fenInit") }}
            </md-input>
            <md-input name="text" :value.sync="fenFinish" class="col s9 m9 l6" v-if="puzzleType.position">
                {{ $t("puzzles.create.fenFinish") }}
            </md-input>
        </div>
<span slot="footer">
	<md-button class="waves-effect waves-green btn-flat"
               @click="createPuzzle(true)">
	{{[mode === 'add'?$t("puzzles.create.create"):$t("puzzles.create.edit")]}}
</md-button>
<md-button class="waves-effect waves-green btn-flat"
           @click="createPuzzle(false)">
{{ $t("puzzles.create.cancel") }}     
</md-button>
</span>
    </md-modal>

</div>

