 <div class="row">
 	<div class="col s12" v-cloak>
 		<div class="col s12 m6 l3">
 			<div class="col s12 m12 l12">
 				<md-card>
 				<span slot="title" class="activator">
 					Card Title<md-icon right>more_vert</md-icon>
 				</span>
 				<!-- wave effect directive -->
 				<div slot="image" v-wave-effect class="waves-effect waves-block waves-light">
 					<img class="activator" src="../../../assets/50x50defaultAvatar.png">
 				</div>
 				<p>
 					<a href="#!">This is a link</a>
 				</p>
 				<div slot="reveal">
 					<span class="card-title grey-text text-darken-4">
 						Card Title
 					</span>
 					<p>
 						Here is some more information
 					</p>
 				</div>
 			</md-card>
 		</div>
 		<div class="col s12 m12 l12">
 			<md-collection>
 			<md-collection-item>
 			menu 1
 			<md-icon slot="secondary-content">send</md-icon>
 		</md-collection-item>
 		<md-collection-item>
 		menu 2
 		<md-icon slot="secondary-content">send</md-icon>
 	</md-collection-item>
 	<md-collection-item>
 	menu 3
 	<md-icon slot="secondary-content">send</md-icon>
 </md-collection-item>
</md-collection>
</div>
</div>
<div class="col s12 m6 l6">
	<label>{{ user | json }}</label>
</div> 		
</div>
</div>